<?xml version="1.0"?>
<!--
Web.config file for baibulo.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="baibulo-root" value="/tmp/"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="*" type="Baibulo.StaticContentRetriever" />
      <add verb="PUT" path="*" type="Baibulo.StaticContentUploader" />
    </httpHandlers>
    <!-- This needs to be in the root Web.config! -->
    <!-- <httpRuntime maxRequestLength="4096" /> -->
  </system.web>

  <!-- This probably needs to be in the root Web.config too! -->
  <!--
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  -->
</configuration>
